<?xml version="1.0"?>
<launch>

    <arg name="namespace"/>

    <!-- MoveBase Node -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find multi_robot)/config/nav/costmap_common.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find multi_robot)/config/nav/costmap_common.yaml" command="load" ns="local_costmap" />    
      <rosparam file="$(find multi_robot)/config/nav/local_costmap.yaml" command="load" />
      <rosparam file="$(find multi_robot)/config/nav/global_costmap.yaml" command="load" />    
      <rosparam file="$(find multi_robot)/config/nav/move_base.yaml" command="load" />   
      <!-- Local Planner -->
      <rosparam file="$(find multi_robot)/config/nav/base_local_planner.yaml" command="load" />
      <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>    
      <!-- Global Planner -->
      <param name="base_global_planner" type="string" value="navfn/NavfnROS" />    
      <param name="global_costmap/global_frame" value="$(arg namespace)/map"/>
      <param name="global_costmap/robot_base_frame" value="$(arg namespace)/Main_Frame"/>
      <param name="local_costmap/global_frame" value="$(arg namespace)/map"/>
      <param name="local_costmap/robot_base_frame" value="$(arg namespace)/Main_Frame"/>
      <param name="global_costmap/obstacles_layer/scan/sensor_frame" value="$(arg namespace)/hokuyo"/>
      <param name="global_costmap/obstacles_layer/scan/topic" value="$(arg namespace)/laser/scan"/>
      <param name="local_costmap/obstacles_layer/scan/sensor_frame" value="$(arg namespace)/hokuyo"/>
      <param name="local_costmap/obstacles_layer/scan/topic" value="$(arg namespace)/laser/scan"/>
      <remap from="cmd_vel" 							     	to="/$(arg namespace)/cmd_vel"/>
      <remap from="odom" 							     	to="/$(arg namespace)/odometry/filtered"/>
      <remap from="scan" 							     	to="/$(arg namespace)/laser/scan"/>
      <remap from="/move_base/NavfnROS/plan"                              		to="/$(arg namespace)/move_base/NavfnROS/plan" />
      <remap from="/move_base/TrajectoryPlannerROS/cost_cloud"                    	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/cost_cloud" />
      <remap from="/move_base/TrajectoryPlannerROS/global_plan"                    	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/global_plan" />
      <remap from="/move_base/TrajectoryPlannerROS/local_plan"                    	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/local_plan" />
      <remap from="/move_base/TrajectoryPlannerROS/parameter_descriptions"              to="/$(arg namespace)/move_base/TrajectoryPlannerROS/parameter_descriptions" />
      <remap from="/move_base/TrajectoryPlannerROS/parameter_updates"                   to="/$(arg namespace)/move_base/TrajectoryPlannerROS/parameter_updates" />
      <remap from="/move_base/cancel" 					             	to="/$(arg namespace)/move_base/cancel" />
      <remap from="/move_base/current_goal"					     	to="/$(arg namespace)/move_base/current_goal" />
      <remap from="/move_base/feedback"						     	to="/$(arg namespace)/move_base/feedback" />
      <remap from="/move_base/global_costmap/costmap"                              	to="/$(arg namespace)/move_base/global_costmap/costmap" />
      <remap from="/move_base/global_costmap/costmap_updates"                           to="/$(arg namespace)/move_base/global_costmap/costmap_updates" />
      <remap from="/move_base/global_costmap/footprint"                              	to="/$(arg namespace)/move_base/global_costmap/footprint" />
      <remap from="/move_base/global_costmap/inflater_layer/parameter_descriptions" 	to="/$(arg namespace)/move_base/global_costmap/inflater_layer/parameter_descriptions" />
      <remap from="/move_base/global_costmap/inflater_layer/parameter_updates"      	to="/$(arg namespace)/move_base/global_costmap/inflater_layer/parameter_updates" />
      <remap from="/move_base/global_costmap/obstacles_layer/parameter_descriptions"  	to="/$(arg namespace)/move_base/global_costmap/obstacles_layer/parameter_descriptions" />
      <remap from="/move_base/global_costmap/obstacles_layer/parameter_updates"       	to="/$(arg namespace)/move_base/global_costmap/obstacles_layer/parameter_updates" />
      <remap from="/move_base/global_costmap/parameter_descriptions"                 	to="/$(arg namespace)/move_base/global_costmap/parameter_descriptions" />
      <remap from="/move_base/global_costmap/parameter_updates"                      	to="/$(arg namespace)/move_base/global_costmap/parameter_updates" />
      <remap from="/move_base/global_costmap/static_layer/parameter_descriptions"    	to="/$(arg namespace)/move_base/global_costmap/static_layer/parameter_descriptions" />
      <remap from="/move_base/global_costmap/static_layer/parameter_updates"         	to="/$(arg namespace)/move_base/global_costmap/static_layer/parameter_updates" />
      <remap from="/move_base/goal"                                                  	to="/$(arg namespace)/move_base/goal" />
      <remap from="/move_base/local_costmap/costmap"                              	to="/$(arg namespace)/move_base/local_costmap/costmap" />
      <remap from="/move_base/local_costmap/costmap_updates"                            to="/$(arg namespace)/move_base/local_costmap/costmap_updates" />
      <remap from="/move_base/local_costmap/footprint"                              	to="/$(arg namespace)/move_base/local_costmap/footprint" />
      <remap from="/move_base/local_costmap/inflater_layer/parameter_descriptions"     	to="/$(arg namespace)/move_base/local_costmap/static_layer/parameter_descriptions" />
      <remap from="/move_base/local_costmap/inflater_layer/parameter_updates"          	to="/$(arg namespace)/move_base/local_costmap/static_layer/parameter_updates" />
      <remap from="/move_base/local_costmap/obstacles_layer/parameter_descriptions"   	to="/$(arg namespace)/move_base/local_costmap/obstacles_layer/parameter_descriptions" />
      <remap from="/move_base/local_costmap/obstacles_layer/parameter_updates"        	to="/$(arg namespace)/move_base/local_costmap/obstacles_layer/parameter_updates" />
      <remap from="/move_base/local_costmap/parameter_descriptions"                  	to="/$(arg namespace)/move_base/local_costmap/parameter_descriptions" />
      <remap from="/move_base/local_costmap/parameter_updates"                       	to="/$(arg namespace)/move_base/local_costmap/parameter_updates" />
      <remap from="/move_base/parameter_descriptions"                                	to="/$(arg namespace)/move_base/parameter_descriptions" />
      <remap from="/move_base/parameter_updates"                                     	to="/$(arg namespace)/move_base/parameter_updates" />
      <remap from="/move_base/result"                                                	to="/$(arg namespace)/move_base/result" />
      <remap from="/move_base/status"                                                	to="/$(arg namespace)/move_base/status" />
      <remap from="/move_base_simple/goal"						to="/$(arg namespace)/move_base_simple/goal" />
    </node>

</launch>
