<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find jet_gazebo)/worlds/Office.world" respawn="false" output="screen" />


  <!-- include our robots -->
  <include file="$(find multi_robot)/launch/robots.launch">
    <arg name="speed" default="0.1"/> 
    <arg name="robots" default="1"/> 
  </include>
  
    
  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"/>
  
</launch>
