<?xml version="1.0"?>
<launch>
<arg name="speed" /> 
<arg name="robots" /> 

  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find jet_description)/urdf/multi_robot.xacro" />


  <!-- Global map-merging node-->
  <group ns="map_merge">
    <node pkg="map_merge_3d" type="map_merge_node" respawn="false" name="map_merge_3d">
      <param name="robot_map_topic" value="map"/>
      <param name="robot_namespace" value="Robot"/>
      <param name="merged_map_topic" value="map"/>
      <param name="world_frame" value="world"/>
      <param name="compositing_rate" value="0.3"/>
      <param name="discovery_rate" value="0.05"/>
      <param name="estimation_rate" value="0.01"/>
      <param name="publish_tf" value="true"/>
    </node>
    
   <!-- Global Octomap Server-->
    <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
      <remap from="cloud_in" to="/map_merge/map_points" />
      <param name="frame_id" type="string" value="map" />
      <param name="resolution" type="double" value="0.01" />
      <param name="base_frame_id " type="string" value="chassis" />
      <param name="height_map" type="bool" value="false" />
      <param name="sensor_model/max_range" type="double" value="2.0" />
      <param name="latch" type="bool" value="false" />
      <param name="filter_ground" type="bool" value="false" />
      <param name="ground_filter/distance" type="double" value="0.05" />
      <param name="pointcloud_[min|max]_z" type="double" value="1" />
      <param name="occupancy_[min|max]_z " type="double" value="1" />
   </node>
  </group>
  

  <!-- BEGIN ROBOTS-->
  
  <!-- ROBOT 1-->
  <group if="$(eval 1 if arg('robots')>0 else False )">
    <group ns="robot1">
      <include file="$(find multi_robot)/launch/robot_setup.launch" >
        <arg name="init_pose" value="-x 0.5 -y -4 -z 0 -R 0 -P 0 -Y 3.141592654" />
        <arg name="robot_name"  value="robot1" />
        <arg name="speed" value="$(arg speed)" />
      </include>
    </group>
  </group>

  <!-- ROBOT 2-->
  <group if="$(eval 1 if arg('robots')>1 else False )">
    <group ns="robot2">
      <include file="$(find multi_robot)/launch/robot_setup.launch" >
        <arg name="init_pose" value="-x -7.5 -y 3 -z 0 -R 0 -P 0 -Y 0" />
        <arg name="robot_name"  value="robot2" />
        <arg name="speed" value="$(arg speed)" />
      </include>
    </group>
  </group>

  <!-- ROBOT 3-->
  <group if="$(eval 1 if arg('robots')>2 else False )">
    <group ns="robot3">
      <include file="$(find multi_robot)/launch/robot_setup.launch" >
        <arg name="init_pose" value="-x 7.5 -y 3 -z 0 -R 0 -P 0 -Y 0" />
        <arg name="robot_name"  value="robot3" />
        <arg name="speed" value="$(arg speed)" />
      </include>
    </group>
  </group>
  
</launch>
