<?xml version="1.0"?>
<launch>
  <arg name="robot_name"/>
  <arg name="init_pose"/>

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)"
        respawn="false" output="screen" />
     
  <!-- ROBOT STATE --> 
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- JOINT STATE --> 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui"            value="False"/>
    <param name="robot_description"  textfile= "$(find jet_description)/urdf/multi_robot.xacro" />
  </node>
    
</launch>
