<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true" />

  <!-- Start World -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find jet_gazebo)/worlds/Office.world" respawn="false" output="screen" />

  <!-- Include Robots -->
  <include file="$(find multi_robot)/launch/3_robots.launch"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot)/rviz/test_2.rviz"/>

</launch>
