<?xml version="1.0"?>
<launch>
  <master auto="start"/>

  <arg name="namespace"/>

  <param name="use_sim_time" value="true" />

  <!-- ORB SLAM2 ROS Node -->
  <node name="orb_slam2_rgbd" pkg="orb_slam2_ros" type="orb_slam2_ros_rgbd" output="screen">
    <remap from="/camera/rgb/camera_info"             					to="/$(arg namespace)/camera_ir/color/camera_info"/>
    <remap from="/camera/rgb/image_raw"               					to="/$(arg namespace)/camera_ir/color/image_raw"/>  
    <remap from="/camera/depth_registered/image_raw"  					to="/$(arg namespace)/camera_ir/depth/image_raw"/>
    <!-- Static parameters -->
    <param name="publish_pointcloud"  		type="bool"				value="true" />
    <param name="publish_pose"        		type="bool"   				value="true" />
    <param name="publish_tf"          		type="bool"   				value="true" />
    <param name="pointcloud_frame_id" 		type="string" 				value="$(arg namespace)/map" />
    <param name="camera_frame_id"     		type="string" 				value="$(arg namespace)/camera" />
    <param name="target_frame_id"     		type="string" 				value="$(arg namespace)/Main_Frame" />
    <param name="map_file"            		type="string" 				value="map.bin" />
    <param name="voc_file"            		type="string" 				value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />
    <param name="load_map"            		type="bool"   				value="false" />
    <param name="localize_only"       		type="bool"   				value="false" />
    <param name="reset_map"           		type="bool"   				value="false" />
    <param name="min_num_kf_in_map"   		type="int"    				value="5" />
    <!-- Camera parameters -->
    <param name="camera_fps" 			type="int" 				value="30" />
    <param name="camera_rgb_encoding" 		type="bool" 				value="true" />
    <!-- ORB parameters -->
    <param name="/ORBextractor/nFeatures"   	type="int"    				value="2000" />
    <param name="/ORBextractor/scaleFactor" 	type="double" 				value="1.2" />
    <param name="/ORBextractor/nLevels"     	type="int"    				value="8" />
    <param name="/ORBextractor/iniThFAST"   	type="int"    				value="20" />
    <param name="/ORBextractor/minThFAST"   	type="int"    				value="7" />
    <param name="load_calibration_from_cam" 	type="bool" 				value="true" />
  </node>
   
  <!-- Global Octomap Server-->
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
    <remap from="cloud_in" 			to="/$(arg namespace)/orb_slam2_rgbd/map_points" />
    <param name="frame_id" 			type="string" 				value="$(arg namespace)/map" />
    <param name="resolution" 			type="double" 				value="0.01" />
    <param name="base_frame_id " 		type="string" 				value="$(arg namespace)/Main_Frame" />
    <param name="height_map" 			type="bool" 				value="false" />
    <param name="sensor_model/max_range" 	type="double" 				value="2.0" />
    <param name="latch" 			type="bool" 				value="false" />
    <param name="filter_ground" 		type="bool" 				value="false" />
    <param name="ground_filter/distance" 	type="double" 				value="0.05" />
    <param name="pointcloud_[min|max]_z" 	type="double" 				value="1" />
    <param name="occupancy_[min|max]_z " 	type="double" 				value="1" />
 </node>

  <!-- Explore_lite Node -->
  <node pkg="explore_lite" type="explore" respawn="true" name="explore">
    <param name="robot_base_frame"      	value="$(arg namespace)/Main_Frame"/>
    <param name="costmap_topic"         	value="$(arg namespace)/projected_map"/>
    <param name="costmap_updates_topic" 	value="$(arg namespace)/projected_map_updates"/>
    <param name="visualize"             	value="true"/>
    <param name="planner_frequency"     	value="0.33"/>
    <param name="progress_timeout"      	value="30.0"/>
    <param name="potential_scale"       	value="3.0"/>
    <param name="orientation_scale"     	value="0.0"/>
    <param name="gain_scale"            	value="1.0"/>
    <param name="transform_tolerance"   	value="0.3"/>
    <param name="min_frontier_size"     	value="0.75"/>
  </node>
  
  <!-- Move Base Node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find jet_navigation)/config/costmap_common.yaml" 			command="load" 		ns="global_costmap" />
    <rosparam file="$(find jet_navigation)/config/costmap_common.yaml" 			command="load" 		ns="local_costmap" />    
    <rosparam file="$(find jet_navigation)/config/map_nav/local_costmap.yaml" 		command="load" />
    <rosparam file="$(find jet_navigation)/config/map_nav/global_costmap.yaml" 		command="load" />    
    <rosparam file="$(find jet_navigation)/config/move_base.yaml" 			command="load" />   
    <!-- Local Planner -->
    <rosparam file="$(find jet_navigation)/config/base_local_planner.yaml" 		command="load" />
    <param name="base_local_planner" 							value="base_local_planner/TrajectoryPlannerROS"/>    
    <!-- Global Planner -->
    <param name="base_global_planner" 		type="string" 				value="navfn/NavfnROS" />    
    <param name="global_costmap/global_frame" 						value="$(arg namespace)/map"/>
    <param name="global_costmap/robot_base_frame" 					value="$(arg namespace)/Main_Frame"/>
    <param name="local_costmap/global_frame" 						value="$(arg namespace)/map"/>
    <param name="local_costmap/robot_base_frame" 					value="$(arg namespace)/Main_Frame"/>
    <remap from="cmd_vel" 							     	to="/$(arg namespace)/cmd_vel"/>
    <remap from="odom" 							     		to="$(arg namespace)/odom"/>
    <remap from="scan" 							     		to="/$(arg namespace)/laser/scan"/>
    <remap from="/move_base/NavfnROS/plan"                              		to="/$(arg namespace)/move_base/NavfnROS/plan" />
    <remap from="/move_base/TrajectoryPlannerROS/cost_cloud"                    	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/cost_cloud" />
    <remap from="/move_base/TrajectoryPlannerROS/global_plan"                    	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/global_plan" />
    <remap from="/move_base/TrajectoryPlannerROS/local_plan"                    	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/local_plan" />
    <remap from="/move_base/TrajectoryPlannerROS/parameter_descriptions"              	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/parameter_descriptions" />
    <remap from="/move_base/TrajectoryPlannerROS/parameter_updates"                   	to="/$(arg namespace)/move_base/TrajectoryPlannerROS/parameter_updates" />
    <remap from="/move_base/cancel" 					             	to="/$(arg namespace)/move_base/cancel" />
    <remap from="/move_base/current_goal"					     	to="/$(arg namespace)/move_base/current_goal" />
    <remap from="/move_base/feedback"						     	to="/$(arg namespace)/move_base/feedback" />
    <remap from="/move_base/global_costmap/costmap"                              	to="/$(arg namespace)/move_base/global_costmap/costmap" />
    <remap from="/move_base/global_costmap/costmap_updates"                           	to="/$(arg namespace)/move_base/global_costmap/costmap_updates" />
    <remap from="/move_base/global_costmap/footprint"                              	to="/$(arg namespace)/move_base/global_costmap/footprint" />
    <remap from="/move_base/global_costmap/inflater_layer/parameter_descriptions" 	to="/$(arg namespace)/move_base/global_costmap/inflater_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/inflater_layer/parameter_updates"      	to="/$(arg namespace)/move_base/global_costmap/inflater_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/obstacles_layer/parameter_descriptions"  	to="/$(arg namespace)/move_base/global_costmap/obstacles_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/obstacles_layer/parameter_updates"       	to="/$(arg namespace)/move_base/global_costmap/obstacles_layer/parameter_updates" />
    <remap from="/move_base/global_costmap/parameter_descriptions"                 	to="/$(arg namespace)/move_base/global_costmap/parameter_descriptions" />
    <remap from="/move_base/global_costmap/parameter_updates"                      	to="/$(arg namespace)/move_base/global_costmap/parameter_updates" />
    <remap from="/move_base/global_costmap/static_layer/parameter_descriptions"    	to="/$(arg namespace)/move_base/global_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/global_costmap/static_layer/parameter_updates"         	to="/$(arg namespace)/move_base/global_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/goal"                                                  	to="/$(arg namespace)/move_base/goal" />
    <remap from="/move_base/local_costmap/costmap"                              	to="/$(arg namespace)/move_base/local_costmap/costmap" />
    <remap from="/move_base/local_costmap/costmap_updates"                            	to="/$(arg namespace)/move_base/local_costmap/costmap_updates" />
    <remap from="/move_base/local_costmap/footprint"                              	to="/$(arg namespace)/move_base/local_costmap/footprint" />
    <remap from="/move_base/local_costmap/inflater_layer/parameter_descriptions"     	to="/$(arg namespace)/move_base/local_costmap/static_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/inflater_layer/parameter_updates"          	to="/$(arg namespace)/move_base/local_costmap/static_layer/parameter_updates" />
    <remap from="/move_base/local_costmap/obstacles_layer/parameter_descriptions"   	to="/$(arg namespace)/move_base/local_costmap/obstacles_layer/parameter_descriptions" />
    <remap from="/move_base/local_costmap/obstacles_layer/parameter_updates"        	to="/$(arg namespace)/move_base/local_costmap/obstacles_layer/parameter_updates" />
    <remap from="/move_base/local_costmap/parameter_descriptions"                  	to="/$(arg namespace)/move_base/local_costmap/parameter_descriptions" />
    <remap from="/move_base/local_costmap/parameter_updates"                       	to="/$(arg namespace)/move_base/local_costmap/parameter_updates" />
    <remap from="/move_base/parameter_descriptions"                                	to="/$(arg namespace)/move_base/parameter_descriptions" />
    <remap from="/move_base/parameter_updates"                                     	to="/$(arg namespace)/move_base/parameter_updates" />
    <remap from="/move_base/result"                                                	to="/$(arg namespace)/move_base/result" />
    <remap from="/move_base/status"                                                	to="/$(arg namespace)/move_base/status" />
    <remap from="/move_base_simple/goal"						to="/$(arg namespace)/move_base_simple/goal" />
    <remap from="map" 									to="$(arg namespace)/map" />        
  </node>


</launch>

