<?xml version="1.0"?>
<launch>
<arg name="speed" /> 
<arg name="robots" /> 

  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find jet_description)/urdf/multi_robot.xacro" />


  <!-- Global map-merging node-->
  <group ns="map_merge">
    <node pkg="map_merge_3d" type="map_merge_node" respawn="false" name="map_merge_3d">
      <param name="robot_map_topic" value="/map"/>
      <param name="robot_namespace" value="/robot"/>
      <param name="merged_map_topic" value="merged_map"/>
      <param name="world_frame" value="merged_map"/>
      <param name="compositing_rate" value="0.5"/>
      <param name="discovery_rate" value="0.05"/>
      <param name="estimation_rate" value="0.01"/>
      <param name="publish_tf" value="true"/>
    </node>
   <!-- Global Octomap Server
    <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
      <remap from="cloud_in" to="/map_merge/map_points" />
      <param name="frame_id" type="string" value="map" />
      <param name="resolution" type="double" value="0.01" />
      <param name="base_frame_id " type="string" value="map" />
      <param name="height_map" type="bool" value="false" />
      <param name="sensor_model/max_range" type="double" value="2.0" />
      <param name="latch" type="bool" value="false" />
      <param name="filter_ground" type="bool" value="false" />
      <param name="ground_filter/distance" type="double" value="0.05" />
      <param name="pointcloud_[min|max]_z" type="double" value="1" />
      <param name="occupancy_[min|max]_z " type="double" value="1" />
   </node>-->
  </group>
  

  <!-- BEGIN ROBOTS-->
  
  <!-- ROBOT 1-->
<group ns="robot1">
  <include file="$(find multi_robot)/launch/robot_setup.launch" >
    <arg name="init_pose" value="-x 0.5 -y -4 -z 0 -R 0 -P 0 -Y 3.141592654" />
    <arg name="robot_name"  value="robot1" />
  </include>
  <!-- ORB SLAM2 ROS Node -->
  <node name="orb_slam2_rgbd" pkg="orb_slam2_ros" type="orb_slam2_ros_rgbd" output="screen">
    <remap from="/camera/rgb/camera_info"             					to="/robot1/camera_ir/color/camera_info"/>
    <remap from="/camera/rgb/image_raw"               					to="/robot1/camera_ir/color/image_raw"/>  
    <remap from="/camera/depth_registered/image_raw"  					to="/robot1/camera_ir/depth/image_raw"/>
    <!-- Static parameters -->
    <param name="publish_pointcloud"  		type="bool"				value="true" />
    <param name="publish_pose"        		type="bool"   				value="true" />
    <param name="publish_tf"          		type="bool"   				value="true" />
    <param name="pointcloud_frame_id" 		type="string" 				value="robot1/orb_slam2_rgbd/map_points" />
    <param name="camera_frame_id"     		type="string" 				value="robot1/chassis" />
    <param name="target_frame_id"     		type="string" 				value="robot1/odom" />
    <param name="map_file"            		type="string" 				value="map.bin" />
    <param name="voc_file"            		type="string" 				value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />
    <param name="load_map"            		type="bool"   				value="false" />
    <param name="localize_only"       		type="bool"   				value="false" />
    <param name="reset_map"           		type="bool"   				value="false" />
    <param name="min_num_kf_in_map"   		type="int"    				value="5" />
    <!-- Camera parameters -->
    <param name="camera_fps" 			type="int" 				value="30" />
    <param name="camera_rgb_encoding" 		type="bool" 				value="true" />
    <!-- ORB parameters -->
    <param name="/ORBextractor/nFeatures"   	type="int"    				value="2000" />
    <param name="/ORBextractor/scaleFactor" 	type="double" 				value="1.2" />
    <param name="/ORBextractor/nLevels"     	type="int"    				value="8" />
    <param name="/ORBextractor/iniThFAST"   	type="int"    				value="20" />
    <param name="/ORBextractor/minThFAST"   	type="int"    				value="7" />
    <param name="load_calibration_from_cam" 	type="bool" 				value="true" />
  </node>
  <!-- Octomap Server
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
    <remap from="cloud_in" 			to="/robot1/orb_slam2_rgbd/map_points../robot1/camera_ir/color/image_raw" />
    <param name="frame_id" 			type="string" 				value="robot1/camera" />
    <param name="resolution" 			type="double" 				value="0.01" />
    <param name="base_frame_id " 		type="string" 				value="robot1/Main_Frame" />
    <param name="height_map" 			type="bool" 				value="false" />
    <param name="sensor_model/max_range" 	type="double" 				value="2.0" />
    <param name="latch" 			type="bool" 				value="false" />
    <param name="filter_ground" 		type="bool" 				value="false" />
    <param name="ground_filter/distance" 	type="double" 				value="0.05" />
    <param name="pointcloud_[min|max]_z" 	type="double" 				value="1" />
    <param name="occupancy_[min|max]_z " 	type="double" 				value="1" />
  </node>-->
</group>


  <!-- ROBOT 2-->

    <group ns="robot2">
      <include file="$(find multi_robot)/launch/robot_setup.launch" >
        <arg name="init_pose" value="-x -7.5 -y 3 -z 0 -R 0 -P 0 -Y 0" />
        <arg name="robot_name"  value="robot2" />

      </include>
    </group>


  <!-- ROBOT 3-->

    <group ns="robot3">
      <include file="$(find multi_robot)/launch/robot_setup.launch" >
        <arg name="init_pose" value="-x 7.5 -y 3 -z 0 -R 0 -P 0 -Y 0" />
        <arg name="robot_name"  value="robot3" />

      </include>
    </group>

  
</launch>

